<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take back control of your videos! JoinPeerTube</title>
    <meta name="description" content="PeerTube is a decentralized video hosting network, based on free/libre software. Join the federation and take back control of your videos!" />

    <link rel="shortcut icon" href="<%= BASE_URL %>img/icons/favicon.png">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>img/icons/apple-touch-icon.png" />

    <meta property="og:url" content="https://joinpeertube.org">
    <meta property="og:title" content="JoinPeerTube">
    <meta property="og:description" content="PeerTube is a decentralized video hosting network, based on free/libre software. Join the federation and take back control of your videos!">
    <meta property="og:image" content="https://joinpeertube.org<%= BASE_URL %>img/card-opengraph.jpg">
    <meta property="og:site_name" content="JoinPeerTube">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@joinpeertube">
    <meta name="twitter:creator" content="@chocobozzz">
    <meta name="twitter:title" content="JoinPeerTube">
    <meta name="twitter:description" content="PeerTube is a decentralized video hosting network, based on free/libre software. Join the federation and take back control of your videos!.">
    <meta name="twitter:image" content="https://joinpeertube.org<%= BASE_URL %>img/card-opengraph.jpg">
  </head>

  <body>
    <div id="app"></div>
  </body>

</html>
